<div class="about-snippet-block text-center">
  <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/posts/xhemfi-cropped-Logo-Svapofacile-PNG.png') }}" alt="">
  <div class="mt-3">
    <p class="p-small-two">Varius proin tortor molestie ac id nam, conubia proin.</p>
    <p class="p-small-two">In condimentum aptent pulvinar pretium aliquet.</p>
    <p class="p-small-two">Ipsum nibh suscipit lorem a.</p>
    <hr>
    <p class="p-small-two text-muted">In condimentum aptent pulvinar pretium aliquet.</p>
    <p class="p-small-two text-muted">Ipsum nibh suscipit lorem a.</p>
    <!--{{ lipsum(n=3, min=5, max=10) }}lipsun genrera in automatico una serie di paragrafi dove n sta per il numero massimo di paragrafi, min il numero di parole da punto a punto, max il numero massimo di parole-->
  </div>
</div>
</div>